/* 
   ================================================================
   ROOT STYLES 
   ================================================================ 
*/    
* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}
:root {
    --main-blue: #45567d;
    --main-white: #f0f0f0;; 
    --main-grey: #303841;  
    --main-red: #be3144;
    --main-transition: all 0.3s ease-out; 
}  

a {
    text-decoration: none;
    color: var(--main-white);
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
} 


/* *, 
*::before, 
*::after {
    box-sizing: inherit;
}  */ 

/* html {
    box-sizing: border-box;
    font-size: 62.5%; 
    scroll-behavior: smooth;
}  */
/* 
@media  (max-width:75em) {
    html {
        font-size: 60%;
    } 
} 

@media (max-width:61.25em){
    html {
        font-size: 58%;
    }
} 

@media (max-width:28.75){
    html {
        font-size: 55%;
    }
}  */
/* 
body {
    font-size: 1.8rem; 
    font-weight: 400; 
    line-height: 1.4; 
    color: var(--main-white);
} 

h1 {
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    text-align: center; 
    font-size: 6rem;
} 

*/


/* 
  =================================================================
  NAVIGATION BAR 
  =================================================================
*/ 
/* large screens */ 
.navigation-bar { 
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: var(--main-red);
    z-index: 10; 
    position: fixed;
    display: flex; 
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    padding: 2rem;
} 
.nav-logo {
    color: var(--main-white);
    cursor: pointer;
    font-size: 1.2rem;
}
.nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    height: inherit; 
} 
.nav-content a {
    height: inherit;
    width: fit-content; 
    text-align: center;
    font-size: 1rem; 
    padding: 1rem 1rem 0.85rem 1rem;
    text-decoration: none;
    font: 100;
    color: var(--main-white);
}
.nav-content a:hover {
    background-color: var(--main-blue);
    border-radius: 10px;
} 
.hamburger-menu {
    color: var(--main-white);
    cursor: pointer; 
    display: none;
}
/* SMALLER SCREENS STYLES */
@media all and (max-width: 64em) { 

    .nav-content {
        display: none; 
    } 
    .nav-mobile {
        display: none;
        width: 100%; 
        height: 100vh;  
        background-color: var(--main-grey);
        color: var(--main-white);  
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        text-align: center;
        font-size: 2rem; 
        transition: var(--main-transition);
    }
    .close {
        display: none;
    }
    .nav-mobile a {
        height: 100px;
    }
    .hamburger-menu {
        display: block;
    }
    .open-nav {
       display: flex;
    }
    .close-icon {
        display: none;
    } 
    .open-icon {
        display: block;
    }
} 
 

/* 
  ======================================================================= 
  MAIN CONTENT 
  =======================================================================
*/

/* large screens */ 
.main-content {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    width: 100%; 
    height: 100vh;
    background-color: var(--main-grey); 
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); 
}
.main-content h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--main-white);
}
.main-content p {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
    font-style: italic;
    color: var(--main-red);
}
/* small screens */ 
@media all and (max-width:40em){ 
    .main-content h1 {
       font-family: 'Raleway', sans-serif; 
       font-weight: 2rem; 
       color: var(--main-white);
    } 
    .main-content .intro { 
        font-size: 1.63rem;
        padding:0 2rem; 
    }
    .main-content p {  
        font-size: 1.5rem; 
        margin-top: 1rem;
    } 
}

/* 
   ==================================================================================
   ABOUT ME 
   ==================================================================================
*/ 
.about-section {
    width: 100%; 
    height: 120vh;
    background-color: var(--main-grey);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.about-section h2 {
    color: var(--main-white); 
    text-align: center; 
    font-size: 2rem; 
    border-bottom: solid 2px var(--main-white);
} 
.about-container {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
} 
.about-info {
    width: 100%; 
    height: 100px; 
    color: var(--main-white);  
    text-align: center;
    font-size: 1rem; 
    padding: 2rem;
} 
.about-image {
    width: 400px; 
    padding: 2rem;   
    margin: 0 auto;
} 
.about-image img {
    width: 100%; 
    border-radius: 50%; 
}
/* SMALLER SCREENS STYLES */
@media all and (max-width:64em) {
    .about-section {
        height: 150vh;
    }
    .about-image {
       width: 300px;
    }
    .about-info {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
}

/* 
 ====================================================================================
 PROJECTS PART 
 ====================================================================================
*/  
/* large screens  */ 
.projects-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-blue);
    text-align: center; 
    padding: 2rem;
}
.projects-samples {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
    grid-gap: 4rem; 
    width: 100%; 
    max-width: 1280px; 
    margin: 0 auto; 
    margin-bottom: 6rem; 
}
.projects-intro h3 {
    font-size: 2rem;
    max-width: 550px;
    margin: 2em auto 2em auto;
    color: var(--main-white);
    border-bottom: 0.1rem solid var(--main-white);

}
.project-link {
    background-color: var(--main-grey);
    border-radius: 10px;
    padding: 2rem;
} 
.project-image {
    width: 200px;
    margin: 0 auto;
    padding-bottom: 1rem;
}
.code {
    color: var(--main-grey);
    transition: color 0.3s ease-out;
}
.project-link:hover .code {
    color: #ff7f50;
} 
.projects-samples .project-link {
    width: inherit;
}
.project-title {
    width: inherit;
    color: var(--main-white);
    font-size: 1.5rem;
    background-color: var(--main-grey);
    margin-bottom: 0;
    padding: 1rem;
} 
.show-btn {
    margin: 2rem auto;
    padding: 1rem; 
    width: fit-content; 
    border-radius: 00.5rem;
    background-color: var(--main-grey);
}

.show-btn:hover {
    background-color: var(--main-red);
    transition: var(--main-transition);
} 
/* small screens */ 
@media all and (max-width:40em){
    .projects-intro h3 {  
        max-width: 300px; 
        margin: 2em auto 2em auto; 
    } 
    .projects-samples { 
        width: calc(100% - 0.4rem);
    } 
    .project-image {
        width: fit-content; 
        margin: 1rem auto 0 auto; 
    }
}

/*  
   ========================================================================================= 
   CERTIFICATIONS SECTION
   =========================================================================================
*/ 
.certifications-section {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    width: 100%; 
    background-color: var(--main-grey);
    padding: 2rem;
}  
.certifications-intro {
    color: var(--main-white); 
    text-align: center; 
    font-size: 2rem;  
    width: 50vw;
    border-bottom: solid 2px var(--main-white);
    margin: 0 auto;
}
.certifications-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
    grid-gap: 4rem;
    padding: 3rem;
    width: 100%;
} 
.certification {
    width: 400px; 
    background-color: var(--main-blue); 
    padding: 2rem; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around; 
    border-radius: 20px;
} 
/* Smaller screens styles */ 
@media all and (max-width: 64em) {
    .certifications-container { 
        width: calc(100% - 0.4rem);
        grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr)); 
    }
    .certifications-intro {
        width: fit-content;

    }
    .certification {
        width: 100%;
    }
    .certification img {
        margin: 1rem auto 0 auto; 
    }
}

/* 
  =========================================================================================
  CONTACT SECTION 
  =========================================================================================
*/   
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    background-color: var(--main-blue);
    color: var(--main-white);
}
.contact-section-header {
    margin-top: 0.2rem;
    font-size: 2rem;
}
.contact-details {
    display: flex;
    justify-content: center; 
    font-size: 1.5rem;
    width: 100%;
    max-width: 1280px;
    flex-wrap: wrap;
    margin: 1rem;
} 
.contact-details a {
    margin: 1rem;
}
.contact-details i {
    margin: 0.4rem;
}

.contact-details-link:hover {
    transform: translateY(8px);
    transition: 0.3s ease-out;
}

/* 
  ============================================================================================= 
  FOOTER
  =============================================================================================
*/ 
.footer {  
    border-top: 5px solid var(--main-red);
    color: var(--main-white);
    background-color: var(--main-grey);  
    padding: 2rem;  
    text-align: center; 
} 
.footer-vision, .footer-copy, .footer-disclaimer {  
    font-size: 1.2rem;  
    font-weight: 300;
} 
.footer-copy {
    margin-top: 2rem;
} 
.footer-disclaimer {
    font-size: 0.5rem;
}